.mobile{
    background-color:white;
    height:100vh;
    width: 60%;
    position: absolute;
    right:0px;
    top:-6px;
    padding:30px 12px;
    display: flex;
    flex-direction: column;
}

.close__icon{
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
}

.mobile__options{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100%;
    background-color: aquamarine;
    padding-top: 24px;
    align-items: center;
    justify-content: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.mobile__option{
    font-size: 24px;
    margin:12px 0px;
    display: flex;

}

.mobile__option a{
    text-decoration: none;
    color: rgb(88, 24, 24);
    display: flex;
}

.mobile__option i{
    display: flex;
    
    justify-self:flex-start;
}