.social__contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__icon{
    padding:6px;
    cursor: pointer;
    margin:6px;

}

.social__image{
    height: 40px;
}


